<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngIf="dish" class="cards">
      <img src="{{BaseURL + dish.image}}" class="img-card"/>
      <ion-card-content>
        <ion-card-subtitle>Description</ion-card-subtitle>
        <ion-card-title>
          {{dish.name | uppercase}}
        </ion-card-title>
        <p>
          {{dish.description}}
        </p>
      </ion-card-content>
    </ion-card>
    <div [hidden]=" dish || dishErrMess">
      <ion-spinner></ion-spinner>
      <h4>Loading ... data please wait</h4>
    </div>
    <div *ngIf="dishErrMess">
      <h2>Error</h2>
      <h4>{{dishErrMess}}</h4>
    </div>
  </ion-content>

   <ion-content class="cards">
    <ion-card *ngIf="promotion">
      <img src="{{BaseURL + promotion.image}}" class="img-card"/>
      <ion-card-content>
        <ion-card-subtitle>Description</ion-card-subtitle>
        <ion-card-title>
          {{promotion.name | uppercase}}
        </ion-card-title>
        <p>
          {{promotion.description}}
        </p>
      </ion-card-content>
    </ion-card>
    <div [hidden]=" promotion || promoErrMess">
      <ion-spinner></ion-spinner>
      <h4>Loading ... data please wait</h4>
    </div>
    <div *ngIf="promoErrMess">
      <h2>Error</h2>
      <h4>{{promoErrMess}}</h4>
    </div>
  </ion-content>


  <ion-content class="cards">
    <ion-card *ngIf="leader">
      <img src="{{BaseURL + leader.image}}" class="img-card"/>
      <ion-card-content>
        <ion-card-subtitle>Description</ion-card-subtitle>
        <ion-card-title>
          {{leader.name | uppercase}}
        </ion-card-title>
        <p>
          {{leader.description}}
        </p>
      </ion-card-content>
    </ion-card>
    <div [hidden]=" leader || leaderErrMess">
      <ion-spinner></ion-spinner>
      <h4>Loading ... data please wait</h4>
    </div>
    <div *ngIf="promoErrMess">
      <h2>Error</h2>
      <h4>{{promoErrMess}}</h4>
    </div>
  </ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="mail"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
</ion-content>